.status{
    width: 10px;
    height: 10px;
    display: block;
    background: red;
    margin: 8px 10px 0 0 ;
    float: left;
    border-radius: 50%;
}

.status.checked-in{
    background: green;
}
li::marker{
    display: none;
    color: transparent;
}